
/* global variables */
// not supported by ie =(
// :root {
//     --main-color: #3FC380;
// }


$mainFontColor: white;
$appBackgroundColor: #3FC380; // EMERALD http://www.flatuicolorpicker.com/
$vertical-breakpoint:1260px;